/* Overview of requirements for CSS file
1. Comments: The CSS should include comments at the beginning of the CSS file to identify 
author and purpose. Individual line comments should be used as necessary to explain 
particular styles and explain where they are applied. 
2. Selectors: All the following CSS Selectors should be used appropriately at some point in this 
assignment: 
• element, #id, .class, grouping, contextual 
• pseudo class, pseudo element  
3. Menu: The menu should have its own set of styles applied. Use a background colour. 
4. Index Page: Demonstrated the following specific CSS rules on the index.html page: 
• display a background graphic. 
5. Position Descriptions Page: Demonstrated the following specific CSS rules on the jobs.html 
page: 
• <h1> elements should have their font variant, size and family etc. set using the 
short-hand font property.    
• The <aside> should be 25% of the width of page and float to the right. 
• The <aside> should have a coloured border with an appropriate margin and 
padding.  
• The footer should cover the full width of the page the footer text should be in a 
small font and centred in the footer.. 
 
6. About Page: Demonstrated the following specific CSS rules on the about.html page: 
• Style the definition list so that each <dt> is on the left and the <dd> on the right in a 
single line. Set the dt to have a common width. 
• The photo should be styled with a single border using the short-hand border-
property, and the figure should be floated to the right of the definition list 
• <table> should be centred within the section, headings in bold, table cells with a 
background colour specified in hexadecimal format 
• The email should be style similarly to the definition list. 
7. All pages:  should have a fluid layout (the page should “Reflow” on page resize).
*/

* {
    font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    margin-bottom: 10px;
}

body {
    text-align: center;
    font-size: 12px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.jobSidebar{
    width: 30%;
    border-style: solid;
    height: 25vh;
    position: sticky;
    top: 0;   
}

.jobDescription {
 width: 60%;
 border-style: solid;
 text-align: left;
 
}
.jobApplication {
 text-align: left;
}
/* Job Application CSS */
#submit {
  cursor: pointer;

  border: 1.5px solid #18acf7;
  color: #18acf7;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  background-color: #ffffff;
}

#submit:hover {
  color: #ffffff;
  background-color: #18acf7;
}
#reset {
  cursor: pointer;
  
  border: 1.5px solid #18acf7;
  color: #18acf7;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  background-color: #ffffff;
}

#reset:hover {
  color: #ffffff;
  background-color: #18acf7;
}
input{
    border-radius:
3px;
    border: 1px solid
#000000;  
    background-color: #efeded;
}

textarea {
    resize: none;
}
fieldset {
    border: 0;
}

.sec {  
    background-color: #fcfcfc;
    border: 3px solid #e5ecf1;
    border-radius: 12px;  
    font-size: 20px;  
    font-weight: bold;  
    margin: 30px; 
    padding: 30px;
    text-align: left; 
     
  } 
  input[type=text],input[type=date],select {
    font-size: 16px;
    padding: 10px;
    margin:10px 0; 
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    display:block;
  }
    
  

  input[type=text] {
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
  }
  input[type=text]:hover {
    border: 1px solid #aaa;
  }
  
select{
    border: 3px solid #efeded;
    border-radius: 12px;
}
  select:hover,
select:focus {
  color: rgb(88, 88, 88);
  background-color: #efeded;
  border-bottom-color: #dfdede;
}
.ip2 {
    float:left;
 }
label{
    font-weight: normal;
}
hr{
    opacity: 25%;
    color: #e5ecf1;
}
textarea{
  font-size: 16px;
  width: 100%;
}
p{
    font-weight: normal;
}
dt{
    float: left;
}
dd{
    font-weight: normal;
}
table{
    border-color: #efeded;
    border: solid 10px;
    border-color: #e5ecf1;
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: #e5ecf1;
}
td{
     font-weight: normal;
    background-color: #EFEFEF;
    border: solid 1px;
    border-color: #efeded;
}
    .line{
    opacity: 25%;
    color: #e5ecf1;
    margin-left: 100px;
    margin-right: 100px;
    
}
.group_pic{
    width: 40%;
    border: 1px solid #ddd;
  border-radius: 4px;
  border-color: #18acf7;
  border-style: solid;
  float: right;
  flex-basis: 40%
  

}
#button{
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 40px;
}

figure{
    float: right;

}

.dl>img{
    float: right;
    margin-bottom: 0.5em;
}
#h2{
    text-align: center;
}
.enhancement{
  text-align: left;
}
aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

footer {
    color: rgb(110, 110, 110);
    font-size: 10px;
  margin-bottom: 0;
}

.flex-container {
    display: flex;
 }
  
  .flex-container > div {
    background-color: lightgray;
    margin: 5px;
    padding: 10px;
    width: 80em;
    font-size: 12px;
}
